/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*
.phpunit.result.cache
/.phpunit.cache
*.cache
*.log
Homestead.json
Homestead.yaml
/.fleet
/.nova
/.idea
/.vscode
/.zed
.phpactor.json
.DS_Store
Thumbs.db
pnpm-lock.yaml
yarn.lock
package-lock.json
composer.lock
auth.json
